*{
    margin:0px;
    padding: 0%;
}
body{
   background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png);
   background-size: cover;
   background-position: center;
}
#main{
    padding: 50px;
    margin: 5vh;
    background-color: rgb(7, 5, 18, 0.58);
    width: 40%;
    border-radius: 20px;
    border: 2px solid rgb(250, 241, 250)
}
.profile{
   
    width: 200px;
    height: 200px;
    background-color: #ffffff9c;
    background-image: url(https://images2.alphacoders.com/112/1127004.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   border-radius: 100%;
   border : 2px solid rgb(255, 255, 255);
}
.name{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
.box{
    padding: 20px 5px;
    margin: 40px;
    background-color: rgb(37, 53, 141, 0.87);
    font-size: 30px;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    border-radius: 20px;
    border-color: #fff;

}
.anker{
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    background-color:#a891ce8f;
    border-radius:20px;
    border-color:2px solid #fff;
}
@media screen and (max-width: 480px){
    .profile{
        width: 100px;
        height: 100px;
    }
    #main{
        padding: 5px;
        margin: 10ph;
        width:90%;
    }


}